body.controlPanel{
/* De body voor de controlpanel pagina */
background-color:#E8E9EB;
}
#status{

float:right;

}
#content{
/* De inhoud van het controlpanel */
float:left;
min-height:300px;
max-width: 100%;

}
td, tr, th, table{
border: black solid 1px;
}

table,th,#tooltip{
border-radius: 6px;
background-color: #90C3D4;
}

table,#tooltip{
float:left;
}
#tooltip{
border: black 1px solid;
margin-left: 20px;
width: 450px;
height: 387px;
}

tr:hover{
background-color:gray;
}
#vraagNummer{
min-width:400px;
}
.pin-container{


}
.panel{

}
.pin-container,#quizz-question-container{
/* Voor elke panel dezelfde functionaliteit: */
background-color:#97CADB;
-webkit-box-shadow: 7px 6px 5px 0px rgba(135,132,135,1);
-moz-box-shadow: 7px 6px 5px 0px rgba(135,132,135,1);
box-shadow: 7px 6px 5px 0px rgba(135,132,135,1);
border:#88999E solid 1px;
margin:5px;
}
#quizz-question-container{
margin-left: 18%;
min-width: 800px;
}
.topNav{
/* de top navigatie div */
position:relative;
width:100%;
height: 70px;
/*background-color:white;*/
border-bottom:1px solid #E0E0E0;
border-radius: 10px;

}


.img{
/* image in topnav */
height:80px;
width:100%;

}

.sideNav{
/* De navigatie aan de zijkant van het scherm */
float:left;
min-width:180px;
width:10%;
height:100%;
background-color:#0F1B35;
z-index:11;
position:relative;

}
.sideNav ul{
/* List */
padding-left:0;
margin-right:5px;
}
.sideNav ul li{
/* List items  */
list-style:none;
width:100%;
height:50px;

}
.sideNav ul li a{
/* List items hyperlinks */
margin-left:20px;
padding-top:15px;
padding-left:15px;
display:block;
}
.sideNav ul li:hover{
/* List items wanneer gehoverd wordt met de muis */
background-color:#0D4F91;
border-left: 5px solid #5AA6F2;
}
.sideNav ul li:hover a{
/* List item hyper link wordt alleen wanneer item wordt gehoverd */
margin-left:15px;
}

#footer{
background-color:white;
border-bottom:1px solid #E0E0E0;
border-radius: 10px;
position:absolute;
bottom:0;
width:99%;
z-index: 10;
height: 60px; /* Height of the footer */
overflow:hidden;

}
#footerContent,#footerFacebook{
float:right;
margin-right: 30px;
margin-top: 20px;
}

