.border{
	border:#88999E solid 1px;
	padding: 20px;
	min-height:280px;
	min-width: 300px;
}
.borderText1,.borderText2{
float:left;
min-height: 250px;
min-width: 300px;
}
.borderText1{
border-left: 1px solid #777778;
border-bottom: 1px solid #777778;
border-top: 1px solid #777778;
background-color: #90C3D4;

}
.borderText2{
background-color: #90C3D4;
border-right: 1px solid #777778;
border-bottom: 1px solid #777778;
border-top: 1px solid #777778;
}
.borderBottom{

}
#quizBeheer-container li{

list-style:none;

}
.button1,.button2,.button3, .button4, .button5,.button6{

background-color: #D98F18;
border: #D98F18 solid 1px;
border-radius: 5px;
width: 135px;
height: 30px;
margin-left: 15px;
margin-top: 15px;


}
.button1:hover,.button2:hover,.button3:hover, .button4:hover, .button5:hover,.button6:hover{
background-color: #D99F41;
border: #D99F41 solid 1px;

}
.button7{

}
.button8{

}
.button9{

}
.text{
	font-size: 30px;
}