.border{
	border:#88999E solid 1px;
	height: 900px;
}
.borderText1{
	background-color: #052647;
	border:#88999E solid 1px;
	width: 400px;
	height: 40px;
	margin-left: 700px;
	margin-top: 150px;
}
.button1{
	margin-left: 750px;
	margin-top: 25px;
	width: 300px;
	height: 75px;
}
.button2{
	margin-left: 750px;
	margin-top: 25px;
	width: 300px;
	height: 75px;
}
.button3{
	margin-left: 750px;
	margin-top: 25px;
	width: 300px;
	height: 75px;
}
.text{
	font-size: 30px;
}