body.login{
/* De body voor de login pagina */
margin-left: 30%;
margin-top:100px;
background-image:url("Images/bg.jpg");
background-image:no-repeat;
background-size:cover;
}
.submit{
/* submit button */
background-color:#468DD4;
border-radius: 25px;
width: 200px;
height: 30px;
}
#loginForm,.nav{
/* Hierin staat algemene huisstijl info */
background-color:#F7F7F7;
border-radius: 5px;
}

#loginForm{
/* Hierin staat alle content */
width: 500px;
height: 300px;
border: 1px solid black;

}
#content h2{
/* Grote titel in de content */
margin-left:35%;
color: #468DD4;
}
.nav{
/* Navigatie van de home pagina*/
width: 500px;
height: 100px;
border: 1px solid black;
margin-bottom: 5px;
background-color: #0C4278;

}
.nav ul li{
/* List items van de navigatie */
float:right;
margin-right: 10px;
list-style:none;
}

.ijburglogo{
	
position: fixed;

left: 47%;
transform: translate( -47%);
}