.border{
	border:#88999E solid 1px;
	

}
.title{
	margin-left:5%;
	margin-right:5%;
}
.tekstvak{

}
.Answer,#textholder, #tooltip button
{
	margin-left:5%;
	margin-top:2%;
	margin-bottom:5px;
	width: 90%;
	height: 30px;
	border-radius:5px;
}
