/* 
Dit is het hoofd document voor onze stylesheet.
Hierin staan algemene methodes die we gebruiken voor alle pagina's

Voor responsiveness:
@media only screen and (min-width: 450px) and (max-width: 899px){
*/

a{
/* Alle linkjes zijn wit en hebben geen underlinement.*/
text-decoration: none;
color:white;
}

table a { 
color: black;


}

table tr{



}
#docentTable tr:first-child,#leerlingTable tr:first-child , #docentTable th, #leerlingTable th{
background-color:#209DC7;
}
#docentTable tr:last-child, #leerlingTable tr:last-child{
background-color:#E38724;

}

