/*CSS voor de delen in vragenConcept.php  */
#quizz-question-container{
border:1px black solid;
width:100%;
height:80%;
}

@keyframes colors {
0% {background-color: #E63E3E;}
20% {background-color: #D5E82A;}
40% {background-color: #65B555;}
60% {background-color: #2A7ABF;}
80% {background-color: #C640DE;}
100% {background-color: #75442B;}
}
#quizz-question-container{
animation: colors 20s linear infinite alternate;
}
.Question{
	background-color:#002647;
	text-align: center;
	border-radius: 25px;
	border: 2px solid black;
}
.Question h1{
	color: white;
	font-family: 'andy';
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
}
	/* algemene opmaak van elke vraag */
	.vraag1	,.vraag2,.vraag3,.vraag4
	{
	background-color:#000543;
	border-radius: 25px;
    border: 2px solid black;
	font-family: 'andy';
    color: white;
	 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 30px 32px;
	margin: 30px;
	margin-left: 75px;
	margin-top: 200px;
	
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	cursor: pointer;
	}