body.text1{
	border-left: 100px;
}
.botton1{
	width: 200px;
	height: 100px;
}
.border{
	border: 3px;
	border-style: solid;
	border-color: #000000;
	margin-left: 550px;
	margin-top: 250px;
	bottom: 175px;
	left: 35%;
	width: 700px;
	height: 500px;
	background-color: #ffffff;
}